<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zibuyuqing.roundcorner">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:enabled="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SplashActivity">

        </activity>
        <activity android:name=".ui.activity.AppsManageActivity"></activity>
        <activity android:name=".ui.activity.AboutMeActivity"></activity>
        <activity android:name=".ui.activity.AppConfigActivity"></activity>
        <service android:name="com.zibuyuqing.roundcorner.service.NotificationListener"
            android:label="@string/enhance_notification"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.zibuyuqing.roundcorner.service.LocalControllerService"></service>
        <service
            android:name=".service.RemoteService"
            android:process=".remoteService"></service>
        <receiver
            android:name=".receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.USER_PRESENT"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <meta-data android:value="5ac1cd08f29d98595600002a" android:name="UMENG_APPKEY"/>
        <meta-data android:value="KuAn" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>